/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F0F8FF; /* Azul claro */
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header {
    background-color: #4E3629; /* Marrón oscuro */
    color: #fff;
    padding: 20px 0;
  }
  
  .header h1 {
    margin: 0;
    text-align: center; /* Centra el texto dentro del contenedor */
    font-size: 36px; /* Aumentamos el tamaño del título */
    letter-spacing: 2px; /* Añadimos espacio entre letras */
    text-transform: uppercase; /* Transformamos el texto a mayúsculas */
    font-family: 'Playfair Display', serif;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }

  nav ul li a:hover {
    color: #6495ED; /* Azul claro */
  }
  
  .content {
    text-align: center;
    padding: 50px 0;
  }
  
  .content h2 {
    color: #4E3629; /* Marrón oscuro */
  }


  .footer {
    background-color: #4E3629; /* Marrón oscuro */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  /* style3.css */

/* style3.css */

#lista-proyecto {
    background-color: #f8f8f8; /* Fondo gris claro */
    padding: 50px 0;
    padding-bottom: 20%;
  }
  
  #lista-proyecto .container {
    max-width: 800px;
    margin: 0 auto; /* Centra el contenedor */
  }
  
  #lista-proyecto h2 {
    color: #4E3629; /* Marrón oscuro */
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #lista-proyecto ul {
    list-style: none;
    padding: 0;
  }
  
  #lista-proyecto ul > li {
    margin-bottom: 30px;
  }
  
  #lista-proyecto strong {
    color: #2E3D48; /* Azul oscuro */
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
  }
  
  #lista-proyecto ul > li > ul {
    margin-top: 10px;
  }
  
  #lista-proyecto ul > li > ul > li {
    margin-bottom: 10px;
  }
  
  #lista-proyecto ul > li > ul > li:last-child {
    margin-bottom: 0;
  }
  
  #lista-proyecto li {
    color: #666;
    font-size: 18px;
  }
  
  

  /* Estilos responsive */
@media screen and (max-width: 768px) {
    .header h1 {
      font-size: 24px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  
    .content h2 {
      font-size: 24px;
    }

    #lista-proyecto .container {
        padding: 0 20px;
    }
  }